#r {
  position: relative;
  Width: 100px;
  /* top: 100px;
  left: 250px;
  right: 300px;
  bottom: 400px; */
  background: rgba(C:\Users\покер\Desktop\js\ютьюб практика\эфект до_после\do.jpg)
  color: rgba(do.jpg);rgba(do.jpg)
}
#gfgf
