.wrap {
  position: relative;
  margin: 30px;
  width: 700px;
  height: 400px;
  border: 2px solid black;
}
.sq {
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  left: 0px;
  top: 0px;
  /* transform: rotate(45deg); */
}

.modal-wrapp {
  position: absolute;
  text-align: center;
  border: 1px solid black;
  width: 500px;
  top: 30px;
  left: 800px;
}
.hide {
  display: none;
}
.taetl {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  margin-right: 60px;
}
.w-900 {
  font-weight: 900;
}
